USE [master]
GO
/****** Object:  Database [Empresa_Y]     ******/
CREATE DATABASE [Empresa_Y]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Empresa_Y', FILENAME = N'C:\Program Files\SQL2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\Empresa_Y.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Empresa_Y_log', FILENAME = N'C:\Program Files\SQL2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\Empresa_Y_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Empresa_Y].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Empresa_Y]
GO
/****** Object:  Table [dbo].[Cliente]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pedido]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[idPedido] [int] IDENTITY(1,1) NOT NULL,
	[idProduto] [int] NOT NULL,
	[idVendedor] [int] NOT NULL,
	[idCliente] [int] NOT NULL,
	[Quantidade] [int] NOT NULL,
	[Valor] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Pedido] PRIMARY KEY CLUSTERED 
(
	[idPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Produto]     08:11:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Produto](
	[idProduto] [int] IDENTITY(1,1) NOT NULL,
	[Descrição] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Produto] PRIMARY KEY CLUSTERED 
(
	[idProduto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vendedor]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vendedor](
	[idVendedor] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Vendedor] PRIMARY KEY CLUSTERED 
(
	[idVendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([idCliente], [Nome]) VALUES (1, N'José da Silva')
INSERT [dbo].[Cliente] ([idCliente], [Nome]) VALUES (2, N'Ana Maria Braga')
INSERT [dbo].[Cliente] ([idCliente], [Nome]) VALUES (3, N'Daniel Mendes')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
SET IDENTITY_INSERT [dbo].[Pedido] ON 

INSERT [dbo].[Pedido] ([idPedido], [idProduto], [idVendedor], [idCliente], [Quantidade], [Valor]) VALUES (1, 2, 1, 1, 1, CAST(1500.00 AS Decimal(18, 2)))
INSERT [dbo].[Pedido] ([idPedido], [idProduto], [idVendedor], [idCliente], [Quantidade], [Valor]) VALUES (2, 3, 2, 1, 1, CAST(2500.00 AS Decimal(18, 2)))
INSERT [dbo].[Pedido] ([idPedido], [idProduto], [idVendedor], [idCliente], [Quantidade], [Valor]) VALUES (3, 2, 1, 1, 2, CAST(3500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Pedido] OFF
SET IDENTITY_INSERT [dbo].[Produto] ON 

INSERT [dbo].[Produto] ([idProduto], [Descrição]) VALUES (1, N'TV')
INSERT [dbo].[Produto] ([idProduto], [Descrição]) VALUES (2, N'Video Game')
INSERT [dbo].[Produto] ([idProduto], [Descrição]) VALUES (3, N'Telefone VOIP')
SET IDENTITY_INSERT [dbo].[Produto] OFF
SET IDENTITY_INSERT [dbo].[Vendedor] ON 

INSERT [dbo].[Vendedor] ([idVendedor], [Nome]) VALUES (1, N'Débora Cristina')
INSERT [dbo].[Vendedor] ([idVendedor], [Nome]) VALUES (2, N'Mariana Pereira')
INSERT [dbo].[Vendedor] ([idVendedor], [Nome]) VALUES (3, N'Daniela Carla')
SET IDENTITY_INSERT [dbo].[Vendedor] OFF
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Cliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Cliente]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Produto] FOREIGN KEY([idProduto])
REFERENCES [dbo].[Produto] ([idProduto])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Produto]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Vendedor] FOREIGN KEY([idVendedor])
REFERENCES [dbo].[Vendedor] ([idVendedor])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Vendedor]
GO
USE [master]
GO
